.practice {
  background-image: url("../../assets/img/Bg.png");
  background-position: center;
  background-size: cover;
  height: 100dvh;
  overflow: hidden;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
  justify-items: stretch;
  width: 100%;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  position: fixed;
  top: 1rem;
  text-decoration: none;
  color: var(--menuFont);
  background-color: var(--containerBG);
  padding: 1rem;
  border-radius: 10%;
  border: solid 3px var(--border);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.link:hover {
  color: white;
}

.h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--containerBG);
  border-radius: 10px;
  text-align: center;
  color: var(--menuFont);
  padding: 0.5rem;
  margin-top: 3rem;
  border: 3px solid var(--border);
  min-width: 30%;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.timerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

.timer {
  background-color: var(--containerBG);
  border: solid 3px var(--border);
  border-radius: 10px;
  color: var(--menuFont);
  padding: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.operation {
  margin-bottom: 3rem;
  border: solid 3px var(--border);
  border-radius: 10px;
  padding: 0 2rem;
  background-color: var(--containerBG);
  color: var(--menuFont);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.results {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 0;
}

.result {
  margin: 10px;
  padding: 10px;
  border: 3px solid var(--border);
  background-color: var(--containerBG);
  border-radius: 10px;
  color: var(--menuFont);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

img {
  width: 100%;
  border-radius: 10%;
}

.bottom {
  display: flex;
  justify-content: end;
  align-items: end;
}

@media screen and (max-width: 1550px) {
  .practice {
    grid-template-columns: 0.7fr 1.6fr 0.7fr;
  }
  .h2 {
    min-width: 45%;
  }
}

@media screen and (max-width: 1100px) {
  .practice {
    grid-template-columns: 0.8fr 1.4fr 0.8fr;
  }
  .h2 {
    min-width: 70%;
  }
}

@media screen and (max-width: 900px) {
  .practice {
    grid-template-columns: 0.9fr 1.2fr 0.9fr;
  }
  .h2 {
    min-width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .practice {
    grid-template-columns: 1fr 1fr 1fr;
  }
  h2 {
    font-size: 18px;
  }
  .results {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". . ."
      ". . .";
    justify-items: center;
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .link {
    padding: 0.5rem;
  }
  .container {
    margin: 0 auto;
  }
}

@media screen and (max-width: 380px) {
  .h2 {
    padding: 0.1rem;
  }
}
