*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Fredoko", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

:root {
  --containerBG: #A1B99D;
  --menuFont: #551700;
  --border: #e2bd6c;
  
}